.header{
  height: 30px;
  border-bottom:2px solid burlywood;
  
}

.logo2{
  background-color: #fff8dc;
}

.logo22{
  padding-top: 10px;
  background-color: #fff8dc;
  margin: 0 auto;
  display: block;
}

.main{
  background-color:#fff8dc;
  padding:0px 40px;
  height: 100%;

  .postBoxshow{
    background-color:#ffffff;
    border: solid burlywood 2px;
    margin:0 auto;
    height: 90%;
    overflow: scroll;
    padding-bottom: 5px;

    .contents{
      height: 500px;
      margin:40px auto;

      img{
        display: block;
        margin: 0 auto;
      }

      .maintitle{
        background-color:#fff8dc ;
        border: solid 1px burlywood;
        width: 100px;
        border-radius: 10px;
        padding-left: 10px;
        margin: 5px auto;
        padding:10px;
      }

      .mainfood{
        font-size: 40px;
        text-align: center;

      }

      .mainmemory{
        font-size: 30px;
        text-align: center;
      }

      .maindetail{
        background-color:#fff8dc ;
        border: solid 1px burlywood;
        width: 160px;
        border-radius: 10px;
        padding-left: 10px;
        margin: 5px auto;
        padding:10px;
      }
      .more{
        text-align: right;
      }
      .more_list{
        display: flex;
        justify-content: end;
      }
    }
  }
}

  .textbox{
    width: 100%;
    border:2px burlywood solid;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    padding-right: 5px;
  }
  .form__submit{
    border-radius: 30px;
    border: burlywood solid 2px;
    transition: all 0.3s ease;
    width: 50px;
    float: right;
  }
  .form__submit:hover{
    background-color: burlywood;
    color: white;
    transition: all 0.3s ease-out;
  }
  .commentBox{
    width:100%;
  }

  .commenttitle{
    
  }

  .comments{
    margin: 0 auto;

  }
  .like-btn {
    border-radius: 30px;
    border: burlywood solid 2px;
    transition: all 0.3s ease;
    width:200px;
    text-align: center;
    margin: 20px 0;
  }

  .like-btn:hover{
    background-color: burlywood;
    color: white;
    transition: all 0.3s ease-out;
  }


