@import "reset";
// @import "bootstrap-sprockets";
@import "bootstrap";
@import "modules/recipe";
@import "modules/search";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/user";
@import "modules/show";
@import "modules/new";



.notifications {
  color: white;
  text-align: center;  

  .notice {
    background-color: lightBlue;
  }

  .alert {
    background-color: alert_orange;
  }
}

button {
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0.32);
  background-image: none;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  margin: 10px;
  padding: 0.6em 2em;
  text-decoration: none;
}

button:hover,
button:focus {
  outline: none;
}